@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: rgb(75, 95, 141);

  background: -moz-linear-gradient(
    270deg,
    rgba(75, 95, 141, 1) 0%,
    rgba(0, 0, 0, 1) 167.44%
  );
  background: -webkit-linear-gradient(
    270deg,
    rgba(75, 95, 141, 1) 0%,
    rgba(0, 0, 0, 1) 167.44%
  );
  background: linear-gradient(
    270deg,
    rgba(75, 95, 141, 1) 0%,
    rgba(0, 0, 0, 1) 167.44%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b5f8d",endColorstr="#000000",GradientType=1);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    /*background: black;*/
  }
}
