.container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.39);
  backdrop-filter: blur(2px);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 99;
  display: none;
  opacity: 0;
  -webkit-transform: translateZ(0);

  .menu {
    display: none;
    align-items: flex-start;
    flex-direction: column;
    place-content: space-between;
    background: rgb(75, 95, 141);

    background: -moz-linear-gradient(
      270deg,
      rgba(75, 95, 141, 1) 0%,
      rgba(0, 0, 0, 1) 167.44%
    );
    background: -webkit-linear-gradient(
      270deg,
      rgba(75, 95, 141, 1) 0%,
      rgba(0, 0, 0, 1) 167.44%
    );
    background: linear-gradient(
      270deg,
      rgba(75, 95, 141, 1) 0%,
      rgba(0, 0, 0, 1) 167.44%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4b5f8d",endColorstr="#000000",GradientType=1);
    width: 100%;
    height: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    opacity: 0;
    padding: 4rem 3rem;
    -webkit-transform: translateZ(0);

    ul {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      list-style-type: none;

      li {
        margin-top: 2rem;
        display: flex;
        align-items: center;

        svg {
          width: 1.4rem;
          height: 1.4rem;
          margin-right: 0.9rem;
          color: white;
        }

        p {
          font-size: 0.9rem;
          color: white;
        }
      }
    }
  }

  .langAndAuth {
    width: 100%;

    .account {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      width: 100%;
      .accGroup {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;

        svg {
          color: #616468;
        }

        p {
          margin-left: 1rem;
          color: #616468;
        }
      }
    }

    .bottom {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 100%;

      a {
        font-size: 1.1rem;
      }

      button {
        font-size: 1rem;
        margin-top: 1rem;
        padding: 0.8rem 2rem;
      }
    }
  }
}

@media only screen and (min-width: 360px) {
  .container .menu {
    width: 80%;
  }
}

@media only screen and (min-width: 400px) {
  .container .menu {
    width: 20rem;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    display: none !important;
  }
}
